/*------------------------------*\
  #ABOUT
\*------------------------------*/


/*
 * Base about page styling.
 * Standard across all about pages.
 */

.about {
  position: relative;
  height: 100%;
  color: black;
  .ember-view {
    height: 100%;
  }
  h2 {
    margin-top: 5px;
  }
}

.about-index {
  height: 100%;
  background-color: #FF0080;
  color: white;
  h1, h2 {
    color: $dark-gray;
  }
  h1 {
    letter-spacing: 10px;
    font-weight: bold;
  }
}

.about-project {
  height: 100%;
  background-color: $dark-gray;
  color: white;
  h2 {
    color: #1FD26A;
    i {
      margin-top: 15px;
    }
  }
}

.about-real {
  height: 100%;
  background-color: #1FD26A;
  color: white;
  h2 {
    color: #FFD700;
    i {
      margin-top: 15px;
    }
  }
}

.center-display {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
         -transform: translateY(-50%);
  padding-left: 64px;
  padding-right: 64px;
  text-align: center;
}

.opaque-background {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.6;
}