/*------------------------------*\
  #ABOUT
\*------------------------------*/


/*
 * Base about page styling.
 * Standard across all about pages.
 */

.about {
  position: relative;
  height: 100%;
  color: black;
  .ember-view {
    height: 100%;
  }
  h2 {
    margin-top: 5px;
  }
  .bounce-down, .bounce-up {
    width: 50px;
    height: auto;
    margin-left: -25px;
    font-size: $font-size-h4;
  }
}


/*
 * About.index page styling.
 */

.about-index {
  height: 100%;
  background-color: $base-pink;
  color: white;
  h1, h2 {
    color: $dark-gray;
  }
  h1 {
    letter-spacing: 10px;
    font-weight: bold;
  }
  a {
    color: $dark-gray;
  }
  img {
    padding-bottom: 6px;
  }
}

/*
 * About.project page styling.
 */

.about-project {
  height: 100%;
  background-color: $base-gray;
  color: white;
  h2 {
    color: $base-green;
    i {
      margin-top: 15px;
    }
  }
  a {
    color: $base-green;
  }
}

/*
 * About.real page styling.
 */

.about-real {
  height: 100%;
  background-color: $base-green;
  color: white;
  h2 {
    color: $base-yellow;
    i {
      margin-top: 15px;
    }
  }
  a {
    color: $base-yellow;
  }
}
