/*------------------------------*\
  #ABOUT
\*------------------------------*/


/*
 * Base about page styling.
 * Standard across all about pages.
 */

.about {
  height: 100%;
  padding: 40px;
  background: url('/assets/images/utensils.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.test {
  width: 50%;
  height: 50%;
  text-align: center;
  background-color: $base-orange;
  color: white;
  border-radius: 50%;
}