/*------------------------------*\
  #BASE
\*------------------------------*/

/*
 * Base html styling
 */

html {
  height: 100%;
}

/*
 * Base body styling. Margins are required to
 * clear space for side navbar.
 */

body {
  height: 100%;
  margin-right: 100px;
  @media (min-width: $screen-sm-min) {
    margin-right: 200px;
  }
}

p {
  font-weight: 300;
  font-size: 14px;
  @media (min-width: $screen-sm-min) {
    font-size: 16px;
  }
}

/*
 * Set height of the first .ember-view to 100%.
 */

body > .ember-view {
  height: 100%;
}

body > .ember-view > .liquid-container {
  height: 100%;
}

body > .ember-view > .liquid-container > .liquid-child {
  height: 100%;
}

/*
 * Centers the display.
 */
.center-display {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
         -transform: translateY(-50%);
  padding: 20px 64px 20px 64px;
  text-align: center;
}

/*
 * Places an opaque background behind any relevant
 * information.
 */

.opaque-background {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.6;
}

/*
 * Navbar for the site.
 */

.navbar {
  position: fixed;
  top: -1px;
  bottom: -1px;
  right: -1px;
  z-index: 10;
  width: 100px;
  margin-bottom: 0px;
  text-align: center;
  @media (min-width: $screen-sm-min) {
    width: 200px;
  }
  ul {
    display: table;
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding-left: 0px;
  }
  li {
    display: table-row;
    width: 100%;
    border-bottom: 1px solid white;
  }
}

/*
 * Routing links on the navbar.
 */

.navbar-link {
  @include animate(0.3s);
  @include remove-link(white);
  vertical-align: middle;
  display: table-cell;
  border-bottom: 1px solid white;
  background-color: $base-blue;
  text-align: center;
  color: white;
  @media (min-width: $screen-sm-min) {
    font-size: $font-size-h4;
  }
  &:hover {
    opacity: 1;
  }
  &.active {
    color: white;
    background-color: $base-orange;
  }
}





/*
 * Button for left transitions.
 */

.left-transition {
  @include animate(0.3s);
  @include remove-link(white);
  position: absolute;
  top: 50%;
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
         -transform: translateY(-50%);
  opacity: 0;
}

/*
 * Button for right transitions.
 */

.right-transition {
  @include animate(0.3s);
  @include remove-link(white);
  position: absolute;
  top: 50%;
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
         -transform: translateY(-50%);
  opacity: 0;
}

/*
 * Left/right-transitions should use this
 * if link is valid.
 */

.active-transition {
  z-index: 8;
  padding: 16px;
  background-color: $base-gray;
  color: white;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
}



/*
 * Universal spacers between points of interest.
 * Use with empty divs to separate sections.
 */

.spacer-xs   { height: 10px; }
.spacer-sm   { height: 20px; }
.spacer-md   { height: 40px; }
.spacer-lg   { height: 80px; }
.spacer-xlg  { height: 120px; }
.spacer-xxlg { height: 160px; }




/*
 * Hidden utensils littered throughout the site
 * to be found.
 */

.hidden-utensil {
  display: inline-block;
  cursor: pointer;
  width: 7px;
  &.found-utensil {
    cursor: default;
  }
}

/*
 * Figures for reference in text.
 */

.figure {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  span {
    display: block;
    font-weight: 300;
  }
}

