/*------------------------------*\
  #COLORS
\*------------------------------*/

/*
 * Base orange used throughout the site.
 */

$base-orange: #ff9936;

/*
 * Base blue used throughout the site.
 */

$base-blue: #00CBE9;

/*
 * Base light gray used throughout the site.
 */

$light-gray: #6E6E6E;

/*
 * Base gray used throughout the site.
 */

$base-gray: #373A43;

/*
 * Base dark gray used throughout the site.
 */

$dark-gray: #32313B;

/*
 * Base pink used throughout the site.
 */

$base-pink: #FF0080;

/*
 * Base green used throughout the site.
 */

$base-green: #1FD26A;

/*
 * Base yellow used throughout the site.
 */

$base-yellow: #FFD700;



/*------------------------------*\
  #MIXINS
\*------------------------------*/

/*
 * Basic cross-site compatible css3 animation mixin.
 * Include this in any class that requires an
 * animation.
 *
 * ex. @include animate(0.3s);
 */

@mixin animate($duration) {
  -webkit-transition: all $duration ease;
     -moz-transition: all $duration ease;
      -ms-transition: all $duration ease;
          transition: all $duration ease;
}

/*
 * More durable cross-site compatible css3 animation mixin.
 * Include this in heavier animations.
 *
 * ex. @include animation('expand 1s forwards')
 */

@mixin animation($animate...) {
  $len: length($animate);
  $animations: '';

  @for $i from 1 through $len {
    $animations: #{ $animations + nth($animate, $i) };
    @if $i < $len {
      $animations: #{ $animations + ", " };
    }

    -webkit-animation: $animations;
       -moz-animation: $animations;
        -ms-animation: $animations;
            animation: $animations;
  }
}

/*
 * Cross-site compatible css3 keyframes mixin.
 * Use this when defining heavier animations.
 */

@mixin keyframes($animationName) {
  @-webkit-keyframes #{ $animationName } {
    @content;
  }
  @-moz-keyframes #{ $animationName } {
    @content;
  }
  @-ms-keyframes #{ $animationName } {
    @content;
  }
  @keyframes #{ $animationName } {
    @content;
  }
}


/*
 * Cross-site compatible css3 transform mixin.
 */

@mixin transform($transforms) {
  -webkit-transform: $transforms;
     -moz-transform: $transforms;
      -ms-transform: $transforms;
         -transform: $transforms;
}

/*
 * Cross-site compatible css3 transform-origin mixin.
 */

@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
     -moz-transform-origin: $origin;
      -ms-transform-origin: $origin;
         -transform-origin: $origin;
}


/*
 * Remove default link styling.
 */

 @mixin remove-link($color) {
  &:visited {
    color: $color;
    text-decoration: none;
  }
  &:hover {
    color: $color;
    text-decoration: none;
  }
  &:active {
    color: $color;
    text-decoration: none;
  }
  &.active {
    color: $color;
    text-decoration: none;
  }
}




/*------------------------------*\
  #ANIMATIONS
\*------------------------------*/

/*
 * Object that bounces at the bottom
 * of its parent.
 */

.bounce-down {
  @include animation('bounce-down 2s infinite');
  position: fixed;
  left: 50%;
  bottom: 0;
}

/*
 * Object that bounces at the top
 * of its parent.
 */

.bounce-up {
  @include animation('bounce-up 2s infinite');
  position: fixed;
  left: 50%;
  top: 0;
}

/*
 * Expanding background. Expands div in 1s after a
 * 1s delay. Maintains div in expanded format.
 */

.expand {
  @include animation('expand 1s forwards 1s');
}

/*
 * Utensil shakes if found.
 */

.found {
  @include animation('shake 0.5s');
}




/*
 * Actual animation for the bounce-down class.
 */

@include keyframes(bounce-down) {
  0% {
    bottom: 0px;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 8px;
    animation-timing-function: ease-in;
  }
  100% {
    bottom:0;
  }
}

/*
 * Actual animation for the bounce-up class.
 */

@include keyframes(bounce-up) {
  0% {
    top: 0px;
    animation-timing-function: ease-out;
  }
  50% {
    top: 8px;
    animation-timing-function: ease-in;
  }
  100% {
    top: 0;
  }
}

/*
 * Actual animation for expanding background.
 */

@include keyframes(expand) {
  0% {
    width: 350px;
    height: 350px;
  }
  10% {
    width: 350px;
    height: 350px;
  }
  30% {
    width: 225px;
    height: 225px;
  }
  50% {
    width: 225px;
    height: 225px;
  }
  100% {
    width: 200%;
    height: 200%;
  }
}

/*
 * Move text to top of page.
 */

@include keyframes(move-text-up) {
  0% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 30%;
  }
}

@include keyframes(move-text-all-up) {
  0% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 10%;
  }
}

/*
 * Actual animation for the shake class.
 */

@include keyframes(shake) {
  0% {
    @include transform(rotate(0deg));
  }
  10%, 50%, 90% {
    @include transform(rotate(30deg));
  }
  30%, 70% {
    @include transform(rotate(-30deg));
  }
  100% {
    @include transform(rotate(0deg));
  }
}


/*
 * Generic fade in animation.
 */

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
 * Generic fade out animation.
 */

 @include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
 }

/*
 * Ant crawl animation.
 */

@include keyframes(stroke-offset) {
  0% {
    stroke-dashoffset: 10%;
    stroke-dasharray: 0 25%;
    fill-opacity: 0;
  }
  70% {
    stroke-dasharray: 10% 0;
  }
  80% {
    fill-opacity: 0;
    stroke-dasharray: 10% 0;
  }
  100% {
    fill-opacity: 1;
    stroke-dasharray: 10% 0;
  }
}

/*
 * Mushroom animation.
 */

@include keyframes(mushroom) {
  0% {
    @include transform(scaleY(0));
    @include transform-origin(center);
  }
  40% {
    @include transform(scaleY(1));
    @include transform-origin(center);
  }
  60% {
    @include transform(scaleY(1));
    @include transform-origin(center);
  }
  100% {
    @include transform(scaleY(0));
    @include transform-origin(center);
  }
}
