/*------------------------------*\
  #COLORS
\*------------------------------*/

/*
 * Base orange used throughout the site.
 */

$base-orange: #ff9936;

/*
 * Base blue used throughout the site.
 */

$base-blue: #00CBE9;

/*
 * Base gray used throughout the site.
 */

$base-gray: #6E6E6E;

/*
 * Base dark gray used throughout the site.
 */

$dark-gray: #32313B;

/*
 * Base pink used throughout the site.
 */

$base-pink: #FF0080;

/*
 * Base green used throughout the site.
 */

$base-green: #1FD26A;




/*------------------------------*\
  #ANIMATIONS
\*------------------------------*/

/*
 * Object that bounces at the bottom
 * of its parent.
 */

.bounce-down {
  position: fixed;
  left: 50%;
  bottom: 0;
  -webkit-animation: bounce-down 2s infinite;
     -moz-animation: bounce-down 2s infinite;
      -ms-animation: bounce-down 2s infinite;
         -animation: bounce-down 2s infinite;
}

/*
 * Object that bounces at the top
 * of its parent.
 */

.bounce-up {
  position: fixed;
  left: 50%;
  top: 0;
  -webkit-animation: bounce-up 2s infinite;
     -moz-animation: bounce-up 2s infinite;
      -ms-animation: bounce-up 2s infinite;
         -animation: bounce-up 2s infinite;

}

/*
 * Actual animation for the bounce-down class.
 */

@-webkit-keyframes bounce-down {
  0% {
    bottom: 0px;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 8px;
    animation-timing-function: ease-in;
  }
  100% {
    bottom:0;
  }
}
@keyframes bounce-down {
  0% {
    bottom: 0px;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 8px;
    animation-timing-function: ease-in;
  }
  100% {
    bottom:0;
  }
}

/*
 * Actual animation for the bounce-up class.
 */

@-webkit-keyframes bounce-up {
  0% {
    top: 0px;
    animation-timing-function: ease-out;
  }
  50% {
    top: 8px;
    animation-timing-function: ease-in;
  }
  100% {
    top: 0;
  }
}

@keyframes bounce-up {
  0% {
    top: 0px;
    animation-timing-function: ease-out;
  }
  50% {
    top: 8px;
    animation-timing-function: ease-in;
  }
  100% {
    top: 0;
  }
}

/*
 * Expanding background.
 */

.expand {
  -webkit-animation: expand 1s forwards;
     -moz-animation: expand 1s forwards;
      -ms-animation: expand 1s forwards;
         -animation: expand 1s forwards;
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
      -ms-animation-delay: 1s;
         -animation-delay: 1s;
}


/*
 * Actual animation for expanding background.
 */

@keyframes expand {
  0% {
    width: 350px;
    height: 350px;
  }
  10% {
    width: 350px;
    height: 350px;
  }
  30% {
    width: 225px;
    height: 225px;
  }
  50% {
    width: 225px;
    height: 225px;
  }
  100% {
    width: 200%;
    height: 200%;
  }
}

/*
 * Move text to top of page.
 */

@keyframes move-text-up {
  0% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 30%;
  }
}

@keyframes move-text-all-up {
  0% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 10%;
  }
}

/*
 * Utensil shakes if found.
 */

.found {
  -webkit-animation: shake 0.5s;
     -moz-animation: shake 0.5s;
      -ms-animation: shake 0.5s;
         -animation: shake 0.5s;
}

/*
 * Actual animation for the shake class.
 */

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10%, 50%, 90% {
    -webkit-transform: rotate(30deg);
  }
  30%, 70% {
    -webkit-transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10%, 50%, 90% {
    -webkit-transform: rotate(30deg);
  }
  30%, 70% {
    -webkit-transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

/*
 * Generic fade in animation.
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




/*------------------------------*\
  #MIXINS
\*------------------------------*/

/*
 * Basic cross-site compatible css3 animation mixin.
 * Include this in any class that requires an
 * animation.
 *
 * ex. @include animate(0.3s);
 */

@mixin animate($duration) {
  -webkit-transition: all $duration ease;
     -moz-transition: all $duration ease;
      -ms-transition: all $duration ease;
          transition: all $duration ease;
}

/*
 * Remove default link styling.
 */

 @mixin remove-link($color) {
  &:visited {
    color: $color;
    text-decoration: none;
  }
  &:hover {
    color: $color;
    text-decoration: none;
  }
  &:active {
    color: $color;
    text-decoration: none;
  }
  &.active {
    color: $color;
    text-decoration: none;
  }
}