/*------------------------------*\
  #ABOUT
\*------------------------------*/


/*
 * Base design page styling.
 * Standard across all about pages.
 */

.design {
  height: 100%;
  h2 {
    margin-top: 5px;
  }
  .ember-view {
    height: 100%;
  }
  .bounce-down, .bounce-up {
    width: 50px;
    height: auto;
    margin-left: -25px;
  }
  .nav {
    width: 100%;
    background-color: white;
    a {
      border-radius: 0px;
      color: $base-blue;
    }
    .active {
      background-color: $base-gray;
      color: white;
    }
  }
  .navbar-nav {
    margin: 0px 0px;
  }
  .animated-nav.liquid-container {
    height: auto;
  }
}

/*
 * Design.index page styling.
 */

.design-index {
  position: relative;
  height: 100%;
  overflow: hidden;

  h1 {
    text-align: center;
    letter-spacing: 10px;
    font-weight: bold;
  }

  h1, h2 {
    color: white;
  }

  .expand {
    position: absolute;
    background: $base-gray;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
           -transform: translate(-50%, -50%);
  }

  .design-index-text {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
           -transform: translateY(-50%);
    @media (max-width: $screen-sm-min) {
      -webkit-animation: move-text-all-up 1s forwards;
         -moz-animation: move-text-all-up 1s forwards;
          -ms-animation: move-text-all-up 1s forwards;
             -animation: move-text-all-up 1s forwards;
      -webkit-animation-delay: 1s;
         -moz-animation-delay: 1s;
          -ms-animation-delay: 1s;
             -animation-delay: 1s;
    }
    @media (min-width: $screen-sm-min) {
      -webkit-animation: move-text-up 1s forwards;
         -moz-animation: move-text-up 1s forwards;
          -ms-animation: move-text-up 1s forwards;
             -animation: move-text-up 1s forwards;
      -webkit-animation-delay: 1s;
         -moz-animation-delay: 1s;
          -ms-animation-delay: 1s;
             -animation-delay: 1s;
    }
    @media (min-width: $screen-md-min) {
      left: 20%;
      right: 20%;
    }

    .design-table-contents {
      opacity: 0;
      height: 0;
      h2 {
        margin-top: 30px;
        text-align: center;
      }
      td {
        padding-top: 10px;
        padding-bottom: 20px;
      }
      a {
        text-decoration: underline;
        color: $base-blue;
        font-size: $font-size-h3;
        font-weight: normal;
      }
      span {
        display: block;
        color: white;
        font-size: $font-size-h4;
        @media (min-width: $screen-sm-min) {
          display: inline-block;
          margin-left: 20px;
        }
      }
      -webkit-animation: fadeIn 0.5s forwards;
         -moz-animation: fadeIn 0.5s forwards;
          -ms-animation: fadeIn 0.5s forwards;
             -animation: fadeIn 0.5s forwards;
      -webkit-animation-delay: 2.25s;
         -moz-animation-delay: 2.25s;
          -ms-animation-delay: 2.25s;
             -animation-delay: 2.25s;
    }
  }

  .bounce-down {
    height: auto;
    font-size: $font-size-h4;
    color: $base-gray;
  }
}

.design-image, .design-movement, .design-navigation {
  padding: 60px;
  height: 100%;
  overflow-y: scroll;
}
