<div class="about-project">
  <div class="center-display">
    {{#link-to "about.index" class="bounce-up"}}
      <i class="glyphicon glyphicon-chevron-up"></i>
    {{/link-to}}
    <h2><i class="glyphicon glyphicon-folder-open"></i></h2>
    <h2>Project Goals</h2>
    <p class="lead">
      The Zumy first obtains a random utensil from a dispenser and detects whether it is a fork, knife or spoon via our proprietary image processing algorithms. After detection, the Zumy transports the utensil to and deposits it at the appropriate destination before returning to the dispenser. To ensure that the Zumy moves efficiently without disturbing any existing piles, a path-planning algorithm determines the best sequences of movements for the Zumy to follow during the transportation process.
    </p>
    {{#link-to "about.real" class="bounce-down"}}
      <i class="glyphicon glyphicon-chevron-down"></i>
    {{/link-to}}
  </div>
</div>