<div class="implementation-index">
  <svg viewBox="0 0 800 600">
    <symbol id="s-text">
      <text text-anchor="middle" x="50%" y="50%">
        IMPLEMENTATION
      </text>
    </symbol>
    
    <g>
      <use xlink:href="#s-text" class="ant-crawl"></use>
      <use xlink:href="#s-text" class="ant-crawl"></use>
    </g>
  </svg>
  <div class="implementation-index-text">
    <h1>IMPLEMENTATION</h1>
    <div class="implementation-table-contents">
      <h2>Table of Contents</h2>
      <table>
        <tr>
          <td>
            {{#link-to 'implementation.hardware'}}
              Hardware / Supplies
            {{/link-to}}
          </td>
          <td>
            <span>
              List of hardware and supplies used
            </span>
          </td>
        </tr>
        <tr>
          <td>
            {{#link-to 'implementation.software'}}
              Software
            {{/link-to}}
          </td>
          <td>
            <span>
              Detailed overview of system software
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>