<div class="implementation-hardware">
  <div>
    <h1>Hardware</h1>
    <blockquote>
      <p class="lead">
        I have a motto on my bedroom wall: 'Obstacles are what you see when you take your eye off the goal.' Giving up is not my style. I just want to do something that's worthwhile.
      </p>
      <footer><cite>Chris Burke</cite></footer>
    </blockquote>
  </div>
  <div>
    <h2>A Confession</h2>
    <p>
      Which is not to say that building a fancy utensil dispenser was not worthwhile. In fact, we had originally planned to build a dispenser that would dispense one random utensil at a time in a configuration suitable for Zumy pickup (see Design Criteria). It's just that there were utensils to be classified, and unfortunately, our signal processing backgrounds were not suitable standins for mechanical engineering experience. As such, with the exception of our beautifully crafted utensil shovel (shown in Figure 1), we relied entirely on provided hardware.
    </p>
    <div class="figure">
      <img src="assets/images/implementation/shovel.png" alt="Zumy with shovel attached.">
      <span>
        <b>Figure 1:</b> Our beautiful (cardboard) utensil shovel on the Zumy.
      </span>
    </div>
  </div>
  <div>
    <h2>Supplies</h2>
    <div class="figure">
      <img src="assets/images/implementation/zumy.png" alt="Zumy wiht AR tag attached">
      <span>
        <b>Figure 2:</b> Zumy with AR tag attached. AR tags were used to denote the world frame origin and Zumy position.
      </span>
    </div>
    <div class="figure">
      <img src="assets/images/implementation/field-of-movement.png" alt="Field of movement.">
      <span>
        <b>Figure 3:</b> Field of movement. Notice that we used a white background to ensure high contrast during image processing.
      </span>
    </div>
    <div class="figure">
      <img src="assets/images/implementation/utensils.png" alt="Utensils to be sorted.">
      <span>
        <b>Figure 4:</b> The true stars of this project: the utensils to be sorted.
      </span>
    </div>
  </div>
</div>