<div class="results-index">
  <div class="animated-letters">
    <h1 class="R">R</h1>
    <h1 class="E">E</h1>
    <h1 class="S1">S</h1>
    <h1 class="U">U</h1>
    <h1 class="L">L</h1>
    <h1 class="T">T</h1>
    <h1 class="S2">S</h1>
  </div>
  <div class="results-index-text">
    <h1>RESULTS</h1>
    <div class="results-table-contents">
      <h2>Table of Contents</h2>
      <table>
        <tr>
          <td>
            {{#link-to 'results.product'}}
              Finished product
            {{/link-to}}
          </td>
          <td>
            <span>
              Videos of the finished product
            </span>
          </td>
        </tr>
        <tr>
          <td>
            {{#link-to 'results.conclusion'}}
              Conclusion
            {{/link-to}}
          </td>
          <td>
            <span>
              Discussion of the results
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>