<div class="navbar">
  <ul>
    {{#link-to "about" class="navbar-link"}}
      <li>
        <i class="glyphicon glyphicon-cutlery"></i>
        About
      </li>
    {{/link-to}}
    {{#link-to "design" class="navbar-link"}}
      <li>
        <i class="glyphicon glyphicon-tags"></i>
        Design
      </li>
    {{/link-to}}
    {{#link-to "implementation" class="navbar-link"}}
      <li>
        <i class="glyphicon glyphicon-qrcode"></i>
        Process
      </li>
    {{/link-to}}
    {{#link-to "results" class="navbar-link"}}
      <li>
        <i class="glyphicon glyphicon-stats"></i>
        Results
      </li>
    {{/link-to}}
    {{#link-to "team" class="navbar-link"}}
      <li>
        <i class="glyphicon glyphicon-user"></i>
        Team
      </li>
    {{/link-to}}
    {{#link-to "additional" class="navbar-link"}}
      <li>
        <i class="glyphicon glyphicon-th-list"></i>
        More
      </li>
    {{/link-to}}
  </ul>
</div>

{{liquid-outlet}}
