<div class="navbar">
  {{#link-to "about" class="navbar-link"}}
    About
  {{/link-to}}
  {{#link-to "design" class="navbar-link"}}
    Design
  {{/link-to}}
  {{#link-to "implementation" class="navbar-link"}}
    Process
  {{/link-to}}
  {{#link-to "results" class="navbar-link"}}
    Results
  {{/link-to}}
  {{#link-to "conclusion" class="navbar-link"}}
    Wrap
  {{/link-to}}
  {{#link-to "team" class="navbar-link"}}
    Team
  {{/link-to}}
  {{#link-to "additional" class="navbar-link"}}
    More
  {{/link-to}}
</div>

{{liquid-outlet}}
