<div class="design-feasibility">
  <div class="center-display">
    {{#link-to "design.choices" class="bounce-up"}}
      <i class="glyphicon glyphicon-chevron-up"></i>
    {{/link-to}}
    <h2>Feasability</h2>
    d) How do these design choices impact how well the project meets design criteria which would be encountered in a real
  engineering application, such as robustness, durability, and efficiency?
  </div>
</div>