<div class="team text-center">
  <h1>TEAM</h1>
  <div class="row">
    <div class="col-sm-6">
      <h2>Mohini Bariya</h2>
      <p class="lead">
        Mohini is a Computer Science major. She has a background in image and signal processing, as well as control theory. She also has experience with algorithm design.
      </p>
    </div>
    <div class="col-sm-6">
      <h2>Eugenia Kang</h2>
      <p class="lead">
        Eugenia is a BioE/EECS double major whose primary work has been in signal processing and front-end web development.
      </p>
    </div>
  </div>
  <h2>MAIN CAST</h2>
  <h3>Reese Wither-Spoon</h3>
  <h3>Keira Knife-ley</h3>
  <h3>Harrison Fork</h3>
  <h2>SPECIAL THANKS TO</h2>
  <h3>Professor Bajcsy, Jaime Fisac, Victor Shia, and Robert Matthew</h3>
</div>