<div class="design-criteria">
  <div class="center-display">
    <h1>Criteria</h1>
    <ul class="lead text-left">
      <li>
        The image processing algorithm must reliably differentiate between utensils.
      </li>
      <li>
        After utensil classification, the Zumy should navigate to the appropriate location.
      </li>
      <li>
        The Zumy should be able to move the utensil without losing it.
      </li>
      <li>
        The Zumy should avoid all obstacles on the field.
      </li>
      <li>
        On a request, the dispenser must dispense one random utensil in a configuration suitable for Zumy pickup.
      </li>
      <li>
        Once the dispenser is empty (i.e. the task is finished), the Zumy should disengage.
      </li>
    </ul>
    <p>
      {{#link-to 'design.image'}}
        Read more about our image classification algorithm.
      {{/link-to}}
    </p>
  </div>
</div>