<div class="design-criteria">
  <div class="center-display">
    <h2>Criteria</h2>
    <ul>
      <li>
        The image processing algorithm must reliably differentiate between forks, knives, and spoons.
      </li>
      <li>
        Based on feedback from the image processing algorithms, the Zumy should navigate to the appropriate location.
      </li>
      <li>
        The Zumy should be able to move the utensil without losing it.
      </li>
      <li>
        The Zumy should avoid all obstacles on the field, and leave any existing utensil piles undisturbed.
      </li>
      <li>
        <p>
          On a request, the dispenser must dispense one random utensil in a configuration suitable for Zumy pickup.
        </p>
      </li>
      <li>
        <p>
          Once the dispenser is empty (i.e. the task is finished), the Zumy should disengage.
        </p>
      </li>
    </ul>
  </div>
</div>