<div class="design-index">
  <div class="expand"></div>
  <div class="design-index-text move-text-up">
    <h1>DESIGN</h1>
    <div class="design-table-contents">
      <h2>Table of Contents</h2>
      <table>
        <tr>
          <td>
            {{#link-to 'design.criteria'}}
              Criteria
            {{/link-to}}
          </td>
          <td>
            <span>List of design criteria</span>
          </td>
        </tr>
        <tr>
          <td>
            {{#link-to 'design.image'}}
              Image Processing Algorithm
            {{/link-to}}
          </td>
          <td>
            <span>Utensil classification</span>
          </td>
        </tr>
        <tr>
          <td>
            {{#link-to 'design.navigation'}}
              Navigation
            {{/link-to}}
          </td>
          <td>
            <span>Obstacle detection and path planning</span>
          </td>
        </tr>
        <tr>
          <td>
            {{#link-to 'design.movement'}}
              Movement
            {{/link-to}}
          </td>
          <td>
            <span>Control and error correction</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>