<div class="design-index">
  <h1>DESIGN</h1>
  <div class="design-table-contents">
    <h2>Table of Contents</h2>
    <ul>
      <li>
        {{#link-to 'design.criteria'}}
          Criteria
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'design.choices'}}
          Choices
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'design.feasibility'}}
          Feasibility
        {{/link-to}}
      </li>
    </ul>
  </div>
  {{#link-to "design.criteria" class="bounce-down"}}
    <i class="glyphicon glyphicon-chevron-down"></i>
  {{/link-to}}
</div>