<div class="design-choices">
  <div class="center-display">
    <h2>Design choices</h2>
    b) Describe the design you chose.
    c) What design choices did you make when you formulated your design? What tradeoffs did you have to make?
  </div>
</div>