<div class="design-choices">
  <div class="center-display">
    {{#link-to "design.criteria" class="bounce-up"}}
      <i class="glyphicon glyphicon-chevron-up"></i>
    {{/link-to}}
    <h2>Design choices</h2>
    <div>
      <h3>Image Processing Algorithm</h3>
      <p></p>
    </div>
    <div>
      <h3>Navigation</h3>
      <p>
        For navigation, we decided on using path-planning to allow the zumy to reliably retrieve and deliver utensils without running into obstacles.
      </p>
    </div>
    <div>
      <h3>Movement</h3>
    </div>






    b) Describe the design you chose.
    c) What design choices did you make when you formulated your design? What tradeoffs did you have to make?
    {{#link-to "design.feasibility" class="bounce-down"}}
      <i class="glyphicon glyphicon-chevron-down"></i>
    {{/link-to}}
  </div>
</div>