<div class="about-real">
  <div class="center-display">
    {{#link-to "about.project"}}
      <i class="glyphicon glyphicon-chevron-up"></i>
    {{/link-to}}
    <h2><i class="glyphicon glyphicon-globe"></i></h2>
    <h2>Real World Applications</h2>
    <p class="lead">
      Beyond doing away with the drudgery of utensil sorting, our utensil sorting Zumy can similarly be modified to sort a wide variety of objects, ranging from surgical equipment to coins.
    </p>
  </div>
</div>