<div class="about-child">
  <h2>Real World Applications</h2>
  <p class="lead">
    Beyond doing away with the drudgery of utensil sorting, our utensil sorting Zumy can similarly be modified to sort a wide variety of objects, ranging from surgical equipment to coins.
  </p>
</div>